#!/bin/bash
pushd $(dirname "$0") > /dev/null

kubectl delete svc graphite-carbon
kubectl delete svc graphite-web
kubectl delete svc graphite-base
kubectl delete sts graphite-base

{% for host in machinelist %}
    {% if 'yarnrole' in machinelist[ host ] and machinelist[ host ][ 'yarnrole' ] == 'master' -%}
kubectl label nodes {{ machinelist[ host ][ 'nodenamelb' ] }} graphiterole-
    {% endif %}
{% endfor %}

popd > /dev/null
