// Cosmo 2.3.2
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

$theme-name: titan;

// Accent colors
// -------------------------
$blue: #5b9bd5;
$blue-dark: #2f528f;
$green: #70ad47;
$red: #d44939;
$yellow: #ffc000;
$orange: #ed7d31;
$pink: #e671b8;
$purple: #9954bb;
$variable: $blue;

// Grays
// -------------------------

// -------------------------
$black: #000;
$white: #fff;

$dark-1: #3960a7;
$dark-2: #3960a7;
$dark-3: #406dbb;
$dark-4: #406dbb;
$dark-5: #6d89cb;
$gray-1: #9eadd8;
$gray-2: #9eadd8;
$gray-3: #acb6bf;
$gray-4: #c0c9e4;
$gray-5: #dde4ed;
$gray-6: #e9edf2;
$gray-7: #f7f8fa;

$border-color: $gray-6;
$strong-border-color: darken($border-color, 20%);
$brand-primary: $blue;
$brand-success: $green;
$brand-warning: $orange;
$brand-danger: $red;

$query-blue: $blue-dark;

// Status colors
// -------------------------
$online: $green;
$warn: $orange;
$critical: $red;

// Scaffolding
// -------------------------

$body-bg: $gray-7;
$page-bg: $gray-7;
$body-color: $black;
$text-color: $black;
$text-color-strong: darken($text-color, 20%);
$text-color-weak: $black;
$text-color-faint: $black;
$text-color-emphasis: $black;

$text-shadow-strong: none;
$text-shadow-faint: none;
$textShadow: none;

// gradients
$brand-gradient: $white;
$page-gradient: $white;

// Links
// -------------------------
$link-color: $blue;
$link-color-disabled: lighten($link-color, 30%);
$link-hover-color: darken($link-color, 20%);
$external-link-color: $blue;

// Typography
// -------------------------
$headings-color: $text-color;
$abbr-border-color: $border-color !default;
$text-muted: $text-color-weak;

$blockquote-small-color: $gray-2 !default;
$blockquote-border-color: $border-color !default;

$hr-border-color: $border-color !default;

// Components
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;

// Panel
// -------------------------

$panel-bg: $white;
$panel-border-color: $border-color;
$panel-border: solid 1px $panel-border-color;
$panel-drop-zone-bg: repeating-linear-gradient(-128deg, $body-bg, $body-bg 10px, $gray-6 10px, $gray-6 20px);
$panel-header-hover-bg: $gray-1;
$panel-header-menu-hover-bg: $gray-1;
$panel-edit-shadow: 0 0 30px 20px $black;

// Page header
$page-header-bg: linear-gradient(90deg, $border-color, $border-color);
$page-header-shadow: inset 0px -3px 10px $border-color;
$page-header-border-color: $border-color;

$divider-border-color: $border-color;

// Graphite Target Editor
$tight-form-bg: $gray-5;

$tight-form-func-bg: $gray-5;
$tight-form-func-highlight-bg: $gray-6;

$modal-backdrop-bg: $body-bg;
$code-tag-bg: $border-color;
$code-tag-border: darken($code-tag-bg, 3%);

// cards
$card-background: linear-gradient(135deg, $gray-6, $gray-5);
$card-background-hover: linear-gradient(135deg, $gray-1, $gray-2);
$card-shadow: -1px -1px 0 0 hsla(0, 0%, 100%, 0.1), 1px 1px 0 0 rgba(0, 0, 0, 0.1);

// Lists
$list-item-bg: linear-gradient(135deg, $gray-5, $gray-6); //$card-background;
$list-item-hover-bg: darken($gray-1, 5%);
$list-item-link-color: $text-color;
$list-item-shadow: $card-shadow;
$empty-list-cta-bg: $gray-6;

// Tables
// -------------------------
$table-bg: transparent; // overall background-color
$table-bg-accent: $border-color; // for striping
$table-bg-hover: $strong-border-color; // for hover
$table-bg-active: $table-bg-hover !default;
$table-border: $border-color; // table and cell border

$table-bg-odd: $border-color;
$table-bg-hover: $strong-border-color;

// Scrollbars
$scrollbarBackground: $gray-5;
$scrollbarBackground2: $gray-5;
$scrollbarBorder: $border-color;

// Buttons
// -------------------------
$btn-primary-bg: $brand-primary;
$btn-primary-bg-hl: lighten($brand-primary, 8%);

$btn-secondary-bg: $dark-5;
$btn-secondary-bg-hl: lighten($dark-5, 4%);

$btn-success-bg: lighten($blue, 3%);
$btn-success-bg-hl: darken($blue, 3%);

$btn-warning-bg: lighten($orange, 3%);
$btn-warning-bg-hl: darken($orange, 3%);

$btn-danger-bg: lighten($red, 3%);
$btn-danger-bg-hl: darken($red, 3%);

$btn-inverse-bg: $gray-7;
$btn-inverse-bg-hl: darken($gray-7, 5%);
$btn-inverse-text-color: $gray-1;
$btn-inverse-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

$btn-link-color: $gray-1;

$btn-divider-left: $gray-4;
$btn-divider-right: $gray-7;
$btn-drag-image: '../img/grab_light.svg';

$iconContainerBackground: $white;

// Forms
// -------------------------
$input-bg: $white;
$input-bg-disabled: $gray-5;

$input-color: $black;
$input-border-color: $border-color;
$input-box-shadow: none;
$input-border-focus: $blue !default;
$input-box-shadow-focus: $blue !default;
$input-color-placeholder: $gray-4 !default;
$input-label-bg: $gray-7;
$input-label-border-color: $border-color;
$input-invalid-border-color: lighten($red, 5%);

// Sidemenu
// -------------------------
$side-menu-bg: $dark-2;
$side-menu-bg-mobile: rgba(0, 0, 0, 0); //$gray-6;
$side-menu-item-hover-bg: $gray-1;
$side-menu-shadow: 5px 0px 10px -5px $gray-1;
$side-menu-link-color: $gray-6;

// Menu dropdowns
// -------------------------
$menu-dropdown-bg: $border-color;
$menu-dropdown-hover-bg: $strong-border-color;
$menu-dropdown-border-color: $border-color;
$menu-dropdown-shadow: 5px 5px 10px -5px $gray-1;

// Breadcrumb
// -------------------------
$page-nav-bg: $gray-5;
$page-nav-shadow: 5px 5px 20px -5px $gray-4;
$page-nav-breadcrumb-color: $black;
$breadcrumb-hover-hl: #d9dadd;

// Tabs
// -------------------------
$tab-border-color: $border-color;

// search
$search-shadow: 0 5px 30px 0 $gray-4;
$search-filter-box-bg: $gray-7;

// Dropdowns
// -------------------------
$dropdownBackground: $white;
$dropdownBorder: $border-color;
$dropdownDividerTop: $gray-6;
$dropdownDividerBottom: $white;
$dropdownDivider: $dropdownDividerTop;
$dropdownTitle: $gray-3;

$dropdownLinkColor: $dark-3;
$dropdownLinkColorHover: $link-color;
$dropdownLinkColorActive: $link-color;

$dropdownLinkBackgroundActive: $gray-6;
$dropdownLinkBackgroundHover: $gray-6;

// COMPONENT VARIABLES
// --------------------------------------------------

// Input placeholder text color
// -------------------------
$placeholderText: $gray-2;

// Hr border color
// -------------------------
$hrBorder: $border-color;

// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset: 180px;

// Wells
// -------------------------
$wellBackground: $gray-3;

// Navbar
// -------------------------

$navbarHeight: 52px;
$navbarBackgroundHighlight: $white;
$navbarBackground: $white;
$navbarBorder: 0 0 3px #c1c1c1;
$navbarShadow: 0 0 3px #c1c1c1;

$navbarText: $black;
$navbarLinkColor: $link-color;
$navbarLinkColorHover: $link-hover-color;
$navbarLinkColorActive: $link-color;
$navbarLinkBackgroundHover: transparent;
$navbarLinkBackgroundActive: darken($navbarBackground, 6.5%);
$navbarDropdownShadow: inset 0px 4px 7px -4px darken($body-bg, 20%);

$navbarBrandColor: $navbarLinkColor;

$navbarButtonBackground: lighten($navbarBackground, 3%);
$navbarButtonBackgroundHighlight: lighten($navbarBackground, 5%);

$navbar-button-border: $border-color;

// Pagination
// -------------------------
$paginationBackground: $gray-2;
$paginationBorder: transparent;
$paginationActiveBackground: $blue;

// Form states and alerts
// -------------------------
$warning-text-color: lighten($orange, 10%);
$error-text-color: lighten($red, 10%);
$success-text-color: lighten($green, 10%);
$info-text-color: $blue;

$alert-error-bg: linear-gradient(90deg, #d44939, #e04d3d);
$alert-success-bg: linear-gradient(90deg, #3aa655, #47b274);
$alert-warning-bg: linear-gradient(90deg, #d44939, #e04d3d);
$alert-info-bg: $blue-dark;

// popover
$popover-bg: $page-bg;
$popover-color: $text-color;
$popover-border-color: $border-color;
$popover-shadow: 0 0 20px $white;

$popover-help-bg: $blue-dark;
$popover-help-color: $gray-6;
$popover-error-bg: $btn-danger-bg;

// Tooltips and popovers
// -------------------------
$tooltipColor: $popover-help-color;
$tooltipBackground: $popover-help-bg;
$tooltipArrowWidth: 5px;
$tooltipArrowColor: $tooltipBackground;
$tooltipLinkColor: lighten($popover-help-color, 5%);
$graph-tooltip-bg: $gray-5;

// images
$checkboxImageUrl: '../img/checkbox_white.png';

// info box
$info-box-background: linear-gradient(100deg, $blue-dark, darken($blue-dark, 5%));
$info-box-color: $gray-7;

// footer
$footer-link-color: $gray-3;
$footer-link-hover: $dark-5;

// collapse box
$collapse-box-body-border: $border-color;
$collapse-box-body-error-border: $red;

// json explorer
$json-explorer-default-color: black;
$json-explorer-string-color: green;
$json-explorer-number-color: blue;
$json-explorer-boolean-color: red;
$json-explorer-null-color: #855a00;
$json-explorer-undefined-color: rgb(202, 11, 105);
$json-explorer-function-color: #ff20ed;
$json-explorer-rotate-time: 100ms;
$json-explorer-toggler-opacity: 0.6;
$json-explorer-toggler-color: #45376f;
$json-explorer-bracket-color: blue;
$json-explorer-key-color: #00008b;
$json-explorer-url-color: blue;

// Changelog and diff
// -------------------------
$diff-label-bg: $gray-5;
$diff-label-fg: $gray-2;

$diff-switch-bg: $gray-7;
$diff-switch-disabled: $gray-5;

$diff-arrow-color: $dark-3;
$diff-group-bg: $gray-7;

$diff-json-bg: $gray-5;
$diff-json-fg: $gray-2;

$diff-json-added: lighten(desaturate($green, 30%), 10%);
$diff-json-deleted: desaturate($red, 35%);

$diff-json-old: #5a372a;
$diff-json-new: #664e33;

$diff-json-changed-fg: $gray-6;
$diff-json-changed-num: $gray-4;
$diff-json-icon: $gray-4;
