#!/bin/bash

pushd $(dirname "$0") > /dev/null

kubectl delete svc spark-historyserver-web
kubectl delete svc spark-base
kubectl delete sts spark-base

{% for host in machinelist %}
    {% if 'yarnrole' in machinelist[ host ] and machinelist[ host ][ 'yarnrole' ] == 'master' -%}
kubectl label nodes {{ machinelist[ host ][ 'nodenamelb' ] }} sparkrole-
    {% endif %}
{% endfor %}

popd > /dev/null