#!/bin/bash

{% for host in machinelist %}
    {% if 'yarnrole' in machinelist[ host ] and machinelist[ host ][ 'yarnrole' ] == 'master' -%}
kubectl label nodes {{ machinelist[ host ][ 'nodenamelb' ] }} sparkrole=master
    {% endif %}
{% endfor %}